<!--<app-heat-map></app-heat-map>-->
<!--<app-road-name></app-road-name>-->

<!--<app-graph-bar></app-graph-bar>-->
<!--<app-grapg-pi></app-grapg-pi>-->

<!--<app-table-road></app-table-road>-->
<!--<nav>-->
  <!--<a routerLink="/bar" routerLinkActive="active">Bar</a>-->
  <!--&lt;!&ndash;<a routerLink="/Social_Marker" routerLinkActive="active">Social_Marker</a>&ndash;&gt;-->
<!--</nav>-->

<!--<router-outlet></router-outlet>-->

  <!--<h2>this word {{word}}</h2>-->
  <!--<app-marker-budget [word]="word" ></app-marker-budget>-->



<h2>{{master}}</h2>
      <app-graph-bar></app-graph-bar>



